body{
background:linear-gradient(rgb(44, 10, 122),rgb(94, 12, 89));
}

.heading{
    width: 100%;
    font-family: 'Lumanosimo', cursive;
    margin-top: 0px;
    font-size: 60px;
}

#note{
    font-size: 15px;
}

#start{
    font-size: 25px;
}

.name{
    font-size: 20px;
    color: white;
}

input{
    width: 30%;
}